@model Normativa

@{
    ViewData["Title"] = "Búsqueda de normativas";
    List<Entidad> entidades = new List<Entidad>();
    entidades = ViewBag.items;
    Layout = "_Filtros";
}



 <div class="container mt-5">

	 <h1 class="text-center">@ViewData["Title"]</h1>
	
	<div class="row">
	
  <form asp-action="Resultados" method="POST">

    <div class="form-group row">
      <label class="control-label">Titulo</label>
      <input type="text" name="titulo" class="form-control" required>
    </div>

    <div class="form-group row">
      <label class="control-label">Entidad</label>
      <select name="idEntidad" id="norma" class="form-control" required>

         <option value="" selected disabled >Seleccione la entidad...</option>
         
         @foreach (var item in entidades)
         {
             <option value="@item.Id" >@item.Nombre</option>

         }


      </select>
      <span asp-validation-for="entidad" class="text-danger"></span>
    </div>

    <div class="form-group row">
      <label>Fecha</label>
      <label>De:</label>
      <input type="date" name="fechainicio" class="form-control" required>
      <label>Hasta:</label>
      <input type="date" name="fechafin" class="form-control" required>
    </div>

    <button class="btn btn-success">Buscar</button>

  </form>
        
		</div>

	</div>

	