@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesion";
    Layout = "_Iniciar";
}

<h1>@ViewData["Title"]</h1>


     <a asp-controller="Home" asp-action="Index"><img src="https://images.vexels.com/media/users/3/127309/isolated/preview/bc08b8449bb754555f9a1b5acabe249d-empresario-mostrando-dibujos-animados-de-tableta.png"></a>
    <form id="account" method="post" class="form-box animated fadeInUp">
        <h1 class="form-title">Iniciar Sesion</h1>
        
           <div asp-validation-summary="All" class="text-danger"></div>

        <input asp-for="Input.Email"  type="text"  placeholder="Nombre de usuario" autofocus>
          <span asp-validation-for="Input.Email" class="text-danger"></span>
        <input asp-for="Input.Password" type="password" placeholder="Contraseña">
          <span asp-validation-for="Input.Password" class="text-danger"></span>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Crear una cuenta</a> 
        <button type="submit">
            Ingresar
        </button>
    </form>


    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
