@page
@model RegisterModel
@{  
    Layout="_Filtros";
    ViewData["Title"] = "Registrar";
}



<div class="container mt-5">
    <div class="row ">
        
        <form class="col-6" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>@ViewData["Title"]</h1>
            <h4>Crea una cuenta y Unete!!</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
           
              <div class="form-group">
                <label asp-for="Input.Nombre">Nombre:</label>
                <input asp-for="Input.Nombre" class="form-control" />
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>

              <div class="form-group">
                <label asp-for="Input.Apellido">Apellido:</label>
                <input asp-for="Input.Apellido" class="form-control" />
                <span asp-validation-for="Input.Apellido" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Input.Email">Correo:</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Contraseña:</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>

        <div class="col-6">
          
          <img src="~/img/descarga.png" class="w-100" alt="">
  

        </div>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
