@{
    Layout = "_Filtros";
}

<section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">¿Quienes Somos?</h2>
                    <h3 class="section-subheading text-muted">OUP tiene como propósito promover la coordinación interuniversitaria teniendo entre sus fines la mejora calidad de la educación superior en ejercicio pleno de la autonomía universitaria.</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://i.pinimg.com/474x/0a/06/59/0a065975727a38e0c8ec5d6d7fa3e5ab.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Misión</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Desarrollar un espacio de información y transferencia de conocimiento. Tiene por finalidad monitorear, recolectar, producir y sistematizar datos e información acerca de temas universitarios.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREo2SaFhJuKRbrFRzYHagflK_M-r1RBATG6GA9MeCRf1OvcoVBAiZ7fL_OnGANCphdqYw&usqp=CAU" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Vision</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Queremos que el Observatorio se consolide como el principal referente del país en la sistematización de la información y la producción de conocimiento en materia de las universidades del Perú.</p></div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </section>