@model List<Normativa>
@{   
    Layout = "_Filtros";
    ViewData["Tittle"] = "LISTA DE NORMATIVAS";
}

<table class="table table-bordered">  
    <tr>  
        <th class="col-md-4">  
           Nombre  
        </th>  
          
        <th class="col-md-2"></th>  
    </tr>  
  
@foreach (var item in Model) {  
    <tr>  
        <td>  
            @Html.DisplayFor(modelItem => item.nombrefile)  
        </td>  
          
        <td>  
            @Html.ActionLink("Descargar", "DownLoadNormativa" , new { id=item.id })   
             
        </td>  
    </tr>  
}  
  
</table> 