@model List<Normativa>
@{
    ViewData["Tittle"] = "LISTA DE NORMATIVAS";
}

<div class="text-center">
    <h1>NORMATIVAS</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>NÚMERO</td>
            <td>TÍTULO</td>
            <td>DESCRIPCIÓN</td>
            <td>ARCHIVO</td>
            <td>FECHA</td>
        </tr>
    </table>
</div>