@model observatorioapp.Models.Contacto

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>OUP</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="~/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">

                <img style="position: absolute;" src="https://asup.edu.pe/wp-content/uploads/2020/04/6.-OBSERVATORIO.png" width="310" height="310"/>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Universidad</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Noticias</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contactanos</a></li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading"></div>
                <div class="masthead-heading text-uppercase"></div>
                <br><br><br><br><br>
                <a class="btn btn-primary btn-xl text-uppercase" href="https://unmsm.edu.pe/noticias-y-eventos/noticias/noticia-detalle/san-marcos-se-posiciona-como-la-mejor-universidad-del-peru-segun-ranking-internacional">Ver más</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-4">
                        <span  class="fa-stack fa-4x">
                            
                            
                            <i  class="fas fa-circle fa-stack-2x text-white"></i>
                            <i class="fas fa-chart-pie fa-stack-1x text-dark"></i>
                        </span>
                        <a href="#" style="text-decoration: none; "><h4 class="my-3">Datos Estadísticos</h4></a>
                        <p class="text-muted">¿Buscas datos y evidencias sobre la violencia?</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-white"></i>
                            
                            <i class="fas fa-search fa-stack-1x text-dark"></i>
                        </span>
                        <a asp-controller="Filtro" asp-action="Busqueda" style="text-decoration: none; "><h4 class="my-3">Búsqueda de Información</h4></a>
                        <p class="text-muted">Conoce acerca de las normativas, leyes, proyectos de ley</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-white"></i>
                            <i class="fas fa-archive fa-stack-1x text-dark"></i>
                        </span>
                        <a href="#" style="text-decoration: none; "><h4 class="my-3">Repositorio</h4></a>
                        <p class="text-muted">¿Necesitas conocer mejor el tema?</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section style="background-color: white;" class="page-section" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Universidades Miembros</h2>
                    <br>
                    <h3 class="section-heading text-uppercase">Privadas</h3>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModel1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://www.carrerasadistancia.com.pe/logos/original/logo-pontificia-universidad-catolica-del-peru.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Pontificia Universidad Católica del Perú</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioAndina">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://www.redisurperu.com/wp-content/uploads/2019/03/01-Logotipo-Vertical-Vista-e1615486281906-380x380.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Andina del Cusco</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioSantaMaria">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/4/43/Escudo_UCSM.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Católica de Santa María</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://estudiaperu.pe/wp-content/uploads/2020/11/UCT.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Católica de Trujillo Benedicto XVI</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://portalapi.tuni.pe/api/v1/image/imagen?img=062\LOGO\logos%20licenciadas_20.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Católica San Pablo</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Logo_USAT.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Católica Santo Toribio de Mogrovejo</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://camp.ucss.edu.pe/wp-content/uploads/2017/07/escudo-dark.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Católica Sedes Sapientiae </div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://www.carrerasadistancia.com.pe/logos/original/logo-universidad-cesar-vallejo.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad César Vallejo</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://iconape.com/wp-content/files/tc/193318/png/193318.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Científica del Sur</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://ucontinental.edu.pe/www/wp-content/uploads/2017/03/universidad-continental.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Continental</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://pbs.twimg.com/profile_images/1118019891993436160/tvhm_hlx_400x400.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad de Huánuco</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Universidad_de_Lima_logo.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad de Lima</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://www.udep.edu.pe/admision-piura/wp-content/uploads/sites/75/2021/03/favicon-udep.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad de Piura</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://is5-ssl.mzstatic.com/image/thumb/Purple125/v4/e6/26/93/e62693e9-c807-1d01-73a6-563fb89b7eb5/source/512x512bb.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad ESAN</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://portalapi.tuni.pe/api/v1/image/imagen?img=020\LOGO\logos%20licenciadas_08.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Femenina del Sagrado Corazón </div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://carrerasuniversitarias.pe/logos/original/logo-universidad-jaime-bausate-y-meza.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Jaime Bausate y Meza</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://carrerasuniversitarias.pe/logos/original/logo-universidad-la-salle.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad La Salle</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://portalapi.tuni.pe/api/v1/image/imagen?img=049\LOGO\logos%20licenciadas_19.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Marcelino Champagnat</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://carrerasuniversitarias.pe/logos/original/logo-universidad-maria-auxiliadora.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad María Auxiliadora</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://universidades.com.pe/logos/original/logo-universidad-peruana-los-andes.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Peruana los Andes</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://webapp.upeu.edu.pe/sge/resources/img/logo-upeu-color.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Peruana Unión</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://universidades.com.pe/logos/original/logo-universidad-privada-antenor-orrego.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Privada Antenor Orrego</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://carrerasuniversitarias.pe/logos/original/logo-universidad-privada-de-tacna.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Privada de Tacna</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Universidad_Privada_del_Norte_UPN.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Privada del Norte</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Universidad_Privada_San_Juan_Bautista.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Privada San Juan Bautista</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://pbs.twimg.com/profile_images/885629312640180225/3K_BqgQD.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Ricardo Palma</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://portalapi.tuni.pe/api/v1/image/imagen?img=057\LOGO\logos%20licenciadas_18.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad San Ignacio de Loyola</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://www.carrerasadistancia.com.pe/logos/original/logo-universidad-norbert-wiener.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Norbert Wiener</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/USMP-2020.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad de San Martín de Porres</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://iconape.com/wp-content/files/lc/194013/png/194013.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Señor de Sipán</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://carrerasuniversitarias.pe/logos/original/logo-universidad-peruana-de-ciencias-aplicadas.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Peruana de Ciencias Aplicadas</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://uroosevelt.edu.pe/wp-content/uploads/2021/02/cropped-UR-ICONO-512.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Privada de Huancayo Franklin Roosevelt</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://iconape.com/wp-content/files/ro/194035/svg/194035.svg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Autonoma del Perú</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://pbs.twimg.com/profile_images/1896342638/Logopatwitter3_400x400.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Tecnológica de los Andes</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://pbs.twimg.com/media/Ewn09L6W8AQ6Pua.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad del Pacífico</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

            </div>
        </section>
                <section style="background-color: white;" class="page-section" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h3 class="section-heading text-uppercase">Públicas</h3>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://pbs.twimg.com/profile_images/1347183453394112512/E1dkSlRJ_400x400.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional Agraria La Molina</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://www.unamad.edu.pe/media/k2/items/cache/08b282bed88832c9197a25b1ea22b623_XL.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional Amazónica Madre de Dios</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://3.bp.blogspot.com/-nDkrOkFRW80/VyCdWJwwgNI/AAAAAAAAPI8/l92opznYhxQa0rXYP08KNYgfmInhgmpZwCLcB/s1600/undac.gif" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional Daniel Alcides Carrión</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://pbs.twimg.com/profile_images/1358487341/logo_unc.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de Cajamarca</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://2.bp.blogspot.com/-nycv6Ow4c5c/VOZmUd4qH7I/AAAAAAAAldw/sGWUtiYFejU/s1600/u-cantuta-logo.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de Educación Enrique Guzmán y Valle</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://1.bp.blogspot.com/-P3TQ4WARvZE/XMOHDZngGyI/AAAAAAABO_o/xWAQUPBTq9EZPmZG8BDUs4QOGqE_sq5TACLcBGAs/s1600/universidad-nacional-de-huancavelica-logo.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de Huancavelica</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://estudiaperu.pe/wp-content/uploads/2019/12/uni.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de Ingeniería</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>
                

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://yt3.ggpht.com/ytc/AKedOLSTg0oCuFNU2ATquGnHRY6CQSGoeBHMwXflw_xb=s900-c-k-c0x00ffffff-no-rj" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de la Amazonía Peruana</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://pbs.twimg.com/profile_images/1432731680335347715/81dPdmfm.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de Piura</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>


                    
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/7/75/LOGO_UNSA.gif" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de San Agustín</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                                        
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://carrerasuniversitarias.pe/logos/original/logo-universidad-nacional-de-san-martin.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de San Martín</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                                        <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://lh3.googleusercontent.com/proxy/eEZbAHw5z3RjjpYE3G9sA3bDsr4OnoatfyxJbwFKT5iQPAvnFT3mPvwd_6SMvtzk5eVrQgAfG1hoqFMMQ_RSSAznvA" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de Tumbes</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                                        
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://unu.edu.pe/cepreunu/images/unu_s.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de Ucayali</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>


                   <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/7/75/LOGO_UNSA.gif" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de San Agustín</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                                        
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://carrerasuniversitarias.pe/logos/original/logo-universidad-nacional-de-san-martin.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de San Martín</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                                        <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://lh3.googleusercontent.com/proxy/eEZbAHw5z3RjjpYE3G9sA3bDsr4OnoatfyxJbwFKT5iQPAvnFT3mPvwd_6SMvtzk5eVrQgAfG1hoqFMMQ_RSSAznvA" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de Tumbes</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                                        
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://unu.edu.pe/cepreunu/images/unu_s.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional de Ucayali</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>


                                       <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Logo_UNAP.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional del Altiplano</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                                        
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="http://4.bp.blogspot.com/-QRT_sVpQ1kY/U9UNWh1jJnI/AAAAAAAAAag/02vbzDk6eQo/s1600/escudo_UNAC+(2).jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional del Callao</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                                        <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://yt3.ggpht.com/ytc/AKedOLSvJthKGBhBPRIiWYKJ_GN1MfofpSn0duOvpsO3Eg=s900-c-k-c0x00ffffff-no-rj" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional del Centro del Perú</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>

                                        
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://carrerasuniversitarias.pe/logos/original/logo-universidad-nacional-del-santa.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Universidad Nacional del Santa</div>
                                <!-- <div class="portfolio-caption-subheading text-muted">Website Design</div> -->
                            </div>
                        </div>
                    </div>


            </div>
        </section>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">¿Quienes Somos?</h2>
                    <h3 class="section-subheading text-muted">OUP tiene como propósito promover la coordinación interuniversitaria teniendo entre sus fines la mejora calidad de la educación superior en ejercicio pleno de la autonomía universitaria.</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://i.pinimg.com/474x/0a/06/59/0a065975727a38e0c8ec5d6d7fa3e5ab.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Misión</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Desarrollar un espacio de información y transferencia de conocimiento. Tiene por finalidad monitorear, recolectar, producir y sistematizar datos e información acerca de temas universitarios.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREo2SaFhJuKRbrFRzYHagflK_M-r1RBATG6GA9MeCRf1OvcoVBAiZ7fL_OnGANCphdqYw&usqp=CAU" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Vision</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Queremos que el Observatorio se consolide como el principal referente del país en la sistematización de la información y la producción de conocimiento en materia de las universidades del Perú.</p></div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </section>
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">NOTICIAS</h2>
                    <h3 class="section-subheading text-muted">Manténte informado acerca de noticias relevantes al tema universitario</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://larepublica.pe/resizer/KuXGbSzB3YZP8xH30QzYZxPpRec=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/IREUU5747NAQFPNEKW25FJAE2A.jpg" alt="..." />
                            <h4>Perú Libre presenta proyecto de ley para el ingreso libre y gratuito a universidades</h4>
                            <a href="https://larepublica.pe/sociedad/2021/10/20/peru-libre-presenta-proyecto-de-ley-para-el-ingreso-libre-a-universidades/"><p class="text-muted">Leer más</p></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://e.rpp-noticias.io/normal/2021/10/23/393039_1163096.jpg" alt="..." />
                            <h4>Osiptel: Estudiantes de universidades e institutos podrán participar con propuestas innovadoras en hackathon</h4>
                            <a href="https://rpp.pe/peru/actualidad/osiptel-estudiantes-de-universidades-e-institutos-podran-participar-con-propuestas-innovadoras-en-hackathon-noticia-1364991"><p class="text-muted">Leer más</p></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://elcomercio.pe/resizer/GamKc-HZcrziuvRrOndOwMVdG8w=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/CSNVPP3YSFGEBBHE5EEDK3MMR4.jpeg" alt="..." />
                            <h4>Clases presenciales en universidades: ¿qué medidas deben tomarse para evitar contagios?</h4>
                            <a href="https://elcomercio.pe/tecnologia/ciencias/clases-presenciales-en-universidades-que-medidas-deben-tomarse-para-evitar-contagios-covid-19-noticia/"><p class="text-muted">Leer más</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Clients-->
        <div class="py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/assets/microsoft.svg" alt="..." /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/assets/google.svg" alt="..." /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/assets/facebook.svg" alt="..." /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/assets/ibm.svg" alt="..." /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact-->
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2021</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/asupoficial/status/1238812331771125761?lang=es"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/ASUPoficiial/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://pe.linkedin.com/company/asupasociaciondeuniversidadesdelperu"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModel1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Pontificia Universidad Católica del Perú</h2>
                                    <p class="item-intro text-muted">PUCP</p>
                                    <img class="img-fluid d-block mx-auto" src="https://cdn02.pucp.education/administracion/2020/07/05171953/pucp-campus-2.png" alt="..." />
                                    <p><strong>Rector: </strong>Carlos Miguel Garatea Grau</p>
                                    <p><strong>Correo rectorado:</strong></p><a href="mailto:rectorado@pucp.edu.pe">rectorado@pucp.edu.pe</a></p>
                                    <p><strong>Dirección:</strong>Av. Universitaria N° 1801, San Miguel</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Teléfono de contacto Rectorado:</strong>
                                            <a href="tel:016262000">016262000</a>
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="portfolio-modal modal fade" id="portfolioAndina" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Universidad Andina del Cusco</h2>
                                    <p class="item-intro text-muted">UAC</p>
                                    <img class="img-fluid d-block mx-auto" src="https://larepublica.pe/resizer/RltO8X_xvwhdRLGBd80CpxunQBg=/1200x660/top/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/6RPJPRQ5GNFS3KLQMXYZD4IWIU.jpg" alt="..." />
                                    <p><strong>Rectora:</strong> Di-Yanira Bravo Gonzales</p>
                                    <p><strong>Correo rectorado:</strong></p><a href="mailto:rectorado@uandina.edu.pe">rectorado@uandina.edu.pe</a></p>
                                    <p><strong>Dirección:</strong>Urb. Ingeniería Larapa Grande A-5, San Jerónimo</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Teléfono de contacto Rectorado:</strong>
                                            <a href="tel:084-605000">084-605000</a>
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-modal modal fade" id="portfolioSantaMaria" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg#" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Universidad Católica Santa María</h2>
                                    <p class="item-intro text-muted">UCSM</p>
                                    <img class="img-fluid d-block mx-auto" src="https://ucsm.edu.pe/wp-content/uploads/2019/04/casa-marianista-ser%C3%A1-analizar-la-regulaci%C3%B3n-de-los-servicios-de-saneamiento..jpg" alt="..." />
                                    <p><strong>Rector:</strong> Manuel Alberto Briceño Ortega</p>
                                    <p><strong>Correo rectorado:</strong></p><a href="mailto:ucsm@ucsm.edu.pe">ucsm@ucsm.edu.pe</a></p>
                                    <p><strong>Dirección:</strong> Urb. San José, San Jose s/n, Yanahuara</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Teléfono de contacto Rectorado:</strong>
                                            <a href="tel:054382038">054382038</a>
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Explore
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Graphic Design
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/3.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Finish
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Identity
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/4.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Lines
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Branding
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Southwest
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Website Design
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Window
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Photography
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="~/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

