@model Noticia
@{
    Layout = "_Administrador";
    ViewData["Tittle"] = "EDITAR NOTICIA";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form asp-controller="Noticia" asp-action="Edit" method="post">

    <div class="form-group">
        <label asp-for="Titulo">TÍTULO DE LA NOTICIA: </label>
        <input type="text" asp-for="Titulo" class="form-control">
        <span class="text-danger" asp-validation-for="Titulo"></span>
    </div>

    <div class="form-group">
        <label asp-for="LinkImagen">COLOQUE EL URL DE LA IMAGEN: </label>
        <input type="text" asp-for="LinkImagen" class="form-control">
        <span class="text-danger" asp-validation-for="LinkImagen"></span>
    </div>

    <div class="form-group">
        <label asp-for="LinkNoticia">COLOQUE EL URL DE LA NOTICIA: </label>
        <input type="text" asp-for="LinkNoticia" class="form-control">
        <span class="text-danger" asp-validation-for="LinkNoticia"></span>
    </div>
    
    <center><div>
    <button class="btn btn-primary">REGISTRAR NOTICIA</button>
    </div></center>

</form>