@model observatorioapp.Models.Noticia

@{
    Layout = "_Filtros";
}

<section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">NOTICIAS</h2>
                    <h3 class="section-subheading text-muted">Manténte informado acerca de noticias relevantes al tema universitario</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://larepublica.pe/resizer/KuXGbSzB3YZP8xH30QzYZxPpRec=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/IREUU5747NAQFPNEKW25FJAE2A.jpg" alt="..." />
                            <h4>Perú Libre presenta proyecto de ley para el ingreso libre y gratuito a universidades</h4>
                            <a href="https://larepublica.pe/sociedad/2021/10/20/peru-libre-presenta-proyecto-de-ley-para-el-ingreso-libre-a-universidades/"><p class="text-muted">Leer más</p></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://e.rpp-noticias.io/normal/2021/10/23/393039_1163096.jpg" alt="..." />
                            <h4>Osiptel: Estudiantes de universidades e institutos podrán participar con propuestas innovadoras en hackathon</h4>
                            <a href="https://rpp.pe/peru/actualidad/osiptel-estudiantes-de-universidades-e-institutos-podran-participar-con-propuestas-innovadoras-en-hackathon-noticia-1364991"><p class="text-muted">Leer más</p></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://elcomercio.pe/resizer/GamKc-HZcrziuvRrOndOwMVdG8w=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/CSNVPP3YSFGEBBHE5EEDK3MMR4.jpeg" alt="..." />
                            <h4>Clases presenciales en universidades: ¿qué medidas deben tomarse para evitar contagios?</h4>
                            <a href="https://elcomercio.pe/tecnologia/ciencias/clases-presenciales-en-universidades-que-medidas-deben-tomarse-para-evitar-contagios-covid-19-noticia/"><p class="text-muted">Leer más</p></a>
                        </div>
                    </div>
                </div>
            </div>
</section>