@model List<Noticia>

@{
    Layout = "_Filtros";
}

<section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">NOTICIAS</h2>
                    <h3 class="section-subheading text-muted">Manténte informado acerca de noticias relevantes al tema universitario</h3>
                </div>
                <div class="row">

                @foreach (var item in Model)
                {
                    
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="@item.LinkImagen" alt="..." />
                            <h4>@item.Titulo</h4>
                            <a href="@item.LinkNoticia"><p class="text-muted">Leer más</p></a>
                        </div>
                    </div>
                    
                }
                    
                </div>
            </div>
</section>